- content_for :title, "Sign up"

- if @user.errors.any?
  .alert-box.warning
    %ul
    - @user.errors.full_messages.each do |error|
      %li= error

= form_for @user, url: {action: :create} do |f|
  .row
    .small-8
      .row
        .small-3.columns
          %label.right.inline
            Login
        .small-9.columns
          = f.text_field :login
      .row
        .small-3.columns
          %label.right.inline
            Password
        .small-9.columns
          = f.password_field :password
      .row
        .small-3.columns
          %label.right.inline
            Confirmation
        .small-9.columns
          = f.password_field :password_confirmation
      .row
        .small-3.columns
        .small-9.columns
          = f.submit "Sign up", class: "button radius expand"
