- content_for :title, "Sign up"

= form_for @user, url: {action: :create} do |f|
  = render partial: "shared/errors", locals: { model: @user }
  .row
    .large-8
      .row
        .large-3.columns
          %label.right.inline
            Login
        .large-9.columns
          = f.text_field :login
      .row
        .large-3.columns
          %label.right.inline
            Password
        .large-9.columns
          = f.password_field :password
      .row
        .large-3.columns
          %label.right.inline
            Confirmation
        .small-9.columns
          = f.password_field :password_confirmation
      .row
        .large-offset-3.large-9.columns
          = f.submit "Sign up", class: "button radius expand"
